#{$pfx}-btn {
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 15px;
    background: $pri-color;
    color: #fff;
    text-transform: uppercase;

    &--lined {
        border: solid 2px $pri-color;
        background-color: transparent;
        color: $pri-color;
    }
}
